@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* FONT */
  --font-urbanist: var(--font-urbanist);

  /* Title (h1): 28px → 60px */
  --text-title: clamp(1.75rem, 0.8833rem + 4.3333vw, 3.75rem);

  /* Subtitle (h2): 24px → 48px */
  --text-sub-title: clamp(1.5rem, 0.75rem + 3.75vw, 3rem);

  /* Stats: 24px → 40px */
  --text-stats: clamp(1.5rem, 1rem + 2.5vw, 2.5rem);

  /* Body (p, buttons, links): 14px → 18px */
  --text-body: clamp(0.875rem, 0.7583rem + 0.5833vw, 1.125rem);

  /* COLORS */
  /* Purple Shades*/
  --color-purple-60: #703bf7;
  --color-purple-65: #8254f8;
  --color-purple-70: #946cf9;
  --color-purple-75: #a585fa;
  --color-purple-90: #dbcefd;

  /* White Shades */
  --color-white-90: #e4e4e7;
  --color-white-95: #f1f1f3;
  --color-white-97: #f7f7f8;
  --color-white-99: #fcfcfd;

  /* Grey Shades */
  --color-grey-08: #141414;
  --color-grey-10: #1a1a1a;
  --color-grey-15: #262626;
  --color-grey-20: #333333;
  --color-grey-30: #4d4d4d;
  --color-grey-40: #666666;
  --color-grey-50: #808080;
  --color-grey-60: #999999;

  --shadow-4: 0 0 0 4px var(--color-sub-background);
  --shadow-6: 0 0 0 6px var(--color-sub-background);
  --shadow-10: 0 0 0 10px var(--color-sub-background);

  /* Toast colors — light mode */
  /* Success */
  --color-toast-border-success: #80c080;
  --color-toast-bg-success: linear-gradient(90deg, #e6f2e6 0%, #f7f7f8 100%);
  --color-toast-icon-success: #05df72;

  /* Error */
  --color-toast-border-error: #ff8080;
  --color-toast-bg-error: linear-gradient(90deg, #ffe6e6 0%, #f7f7f8 100%);
  --color-toast-icon-error: #ff6467;

  /* Info */
  --color-toast-border-info: #8080ff;
  --color-toast-bg-info: linear-gradient(90deg, #e6e6ff 0%, #f7f7f8 100%);
  --color-toast-icon-info: #51a2ff;

  /* Toast colors — dark mode */
  /* Success */
  --color-toast-border-success-dark: #004000;
  --color-toast-bg-success-dark: linear-gradient(
    90deg,
    #000d00 0%,
    #1a1a1a 100%
  );
  --color-toast-icon-success-dark: #00c950;

  /* Error */
  --color-toast-border-error-dark: #800000;
  --color-toast-bg-error-dark: linear-gradient(90deg, #1a0000 0%, #1a1a1a 100%);
  --color-toast-icon-error-dark: #fb2c36;

  /* Info */
  --color-toast-border-info-dark: #000080;
  --color-toast-bg-info-dark: linear-gradient(90deg, #00001a 0%, #1a1a1a 100%);
  --color-toast-icon-info-dark: #2b7fff;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-sub-background: var(--sub-background);
  --color-foreground: var(--foreground);
  --color-sub-foreground: var(--sub-foreground);

  --color-border: var(--border);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-white-99);
  --sub-background: var(--color-white-97);
  --foreground: var(--color-grey-08);
  --border: var(--color-white-90);
  --sub-foreground: var(--color-grey-40);

  /* Page Not Found colors */
  --stroke-color: var(--color-grey-15);
  --fill-base: var(--color-grey-08);
  --fill-accent: var(--color-purple-60);

  /* Toast defaults (fallback only) */
  --color-toast-border: var(--border);
  --color-toast-bg: var(--sub-background);
  --color-toast-icon: var(--foreground);
  --color-toast-text: var(--foreground);
}

.dark {
  --background: var(--color-grey-08);
  --sub-background: var(--color-grey-10);
  --foreground: var(--color-white-99);
  --border: var(--color-grey-15);
  --sub-foreground: var(--color-grey-60);

  /* Page Not Found colors */
  --stroke-color: var(--color-white-90);
  --fill-base: var(--color-white-97);
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  ::selection {
    background: var(--color-purple-300);
    color: white;
  }

  button,
  a {
    cursor: pointer;
    border-radius: var(--radius-lg);
  }

  button:focus-visible,
  a:focus-visible {
    outline: 1px solid var(--color-purple-60);
    border-radius: var(--radius-lg);
    @apply shadow-purple-60/50! shadow;
  }
}

@layer utilities {
  .wrapper {
    max-width: clamp(20rem, 100%, 90rem);
    margin-inline: auto;
    padding-inline: clamp(1.5rem, 5vw, 6rem);
    transition: padding-inline 0.3s ease-out;

    @media (min-width: 1536px) {
      padding-inline: 0;
    }
  }

  /* Hamburger Menu */
  .line {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition:
      stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  /* open state */
  .line-open {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  /* closed state */
  .line-closed {
    stroke-dasharray: 12 63;
  }
}

@layer components {
  [data-toast="success"] {
    --color-toast-border: var(--color-toast-border-success);
    --color-toast-bg: var(--color-toast-bg-success);
    --color-toast-icon: var(--color-toast-icon-success);
  }

  .dark [data-toast="success"] {
    --color-toast-border: var(--color-toast-border-success-dark);
    --color-toast-bg: var(--color-toast-bg-success-dark);
    --color-toast-icon: var(--color-toast-icon-success-dark);
  }

  [data-toast="error"] {
    --color-toast-border: var(--color-toast-border-error);
    --color-toast-bg: var(--color-toast-bg-error);
    --color-toast-icon: var(--color-toast-icon-error);
  }

  .dark [data-toast="error"] {
    --color-toast-border: var(--color-toast-border-error-dark);
    --color-toast-bg: var(--color-toast-bg-error-dark);
    --color-toast-icon: var(--color-toast-icon-error-dark);
  }

  [data-toast="info"] {
    --color-toast-border: var(--color-toast-border-info);
    --color-toast-bg: var(--color-toast-bg-info);
    --color-toast-icon: var(--color-toast-icon-info);
  }

  .dark [data-toast="info"] {
    --color-toast-border: var(--color-toast-border-info-dark);
    --color-toast-bg: var(--color-toast-bg-info-dark);
    --color-toast-icon: var(--color-toast-icon-info-dark);
  }

  [data-toast="loading"] {
    --color-toast-border: var(--border);
    --color-toast-bg: var(--background);
    --color-toast-icon: var(--foreground);
  }
}
