@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* FONT */
  --font-urbanist: var(--font-urbanist);

  /* COLORS */
  /* Purple Shades*/
  --color-purple-60: #703bf7;
  --color-purple-65: #8254f8;
  --color-purple-70: #946cf9;
  --color-purple-75: #a585fa;
  --color-purple-90: #dbcefd;

  /* White Shades */
  --color-white-90: #e4e4e7;
  --color-white-95: #f1f1f3;
  --color-white-97: #f7f7f8;
  --color-white-99: #fcfcfd;

  /* Grey Shades */
  --color-grey-08: #141414;
  --color-grey-10: #1a1a1a;
  --color-grey-15: #262626;
  --color-grey-20: #333333;
  --color-grey-30: #4d4d4d;
  --color-grey-40: #666666;
  --color-grey-50: #808080;
  --color-grey-60: #999999;

  --shadow-4: 0 0 0 4px var(--color-sub-background);
  --shadow-6: 0 0 0 6px var(--color-sub-background);
  --shadow-10: 0 0 0 10px var(--color-sub-background);

  --drop-shadow-4: 4px rgb(112 59 247 / 0.1);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-sub-background: var(--sub-background);
  --color-foreground: var(--foreground);
  --color-sub-foreground: var(--sub-foreground);

  /* RESPONSIVE TYPOGRAPHY */
  --text-title: var(--text-title);
  --text-sub-title: var(--text-sub-title);
  --text-stats: var(--text-stats);
  --text-body: var(--text-body);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-white-99);
  --sub-background: var(--color-white-97);
  --foreground: var(--color-grey-08);
  --border: var(--color-white-90);
  --sub-foreground: var(--color-grey-30);

  /* Mobile Typography (default) */
  --text-title: 1.75rem; /* 28px - h1 */
  --text-sub-title: 1.5rem; /* 24px - h2 */
  --text-stats: 1.5rem; /* 24px */
  --text-body: 0.875rem; /* 14px - p, buttons, links */

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

.dark {
  --background: var(--color-grey-08);
  --sub-background: var(--color-grey-10);
  --foreground: var(--color-white-99);
  --border: var(--color-grey-15);
  --sub-foreground: var(--color-grey-60);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

/* Tablet (md) */
@media (min-width: 768px) {
  :root {
    --text-title: 2.25rem; /* 36px - h1 */
    --text-sub-title: 2.0625rem; /* 33px - h2 */
    --text-body: 1rem; /* 16px - p, buttons, links*/
  }
}

/* Large (lg) */
@media (min-width: 1024px) {
  :root {
    --text-title: 2.875rem; /* 46px - h1 */
    --text-sub-title: 2.375rem; /* 38px - h2 */
    --text-stats: 1.875rem; /* 30px */
  }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
  :root {
    --text-title: 3.75rem; /* 60px - h1 */
    --text-sub-title: 3rem; /* 48px - h2 */
    --text-stats: 2.5rem; /* 40px */
    --text-body: 1.125rem; /* 18px - p, buttons, links */
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  ::selection {
    background: var(--color-purple-300);
    color: white;
  }

  button,
  a {
    cursor: pointer;
    border-radius: var(--radius-lg);
  }

  button:focus-visible,
  a:focus-visible {
    outline: 1px solid var(--color-purple-60);
    border-radius: var(--radius-lg);
    @apply shadow-purple-60/50! shadow;
  }
}

@layer utilities {
  /* Hamburger Menu */
  .line {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition:
      stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  /* open state */
  .line-open {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  /* closed state */
  .line-closed {
    stroke-dasharray: 12 63;
  }
}
